{% extends 'base.html.twig' %}
{% block title 'Gestion des articles' %}
{% block body %}
    <div class="container">
        <h2 class="text-center">Publier un article</h2>
        {{  include ('admin/blog/crud_posts/_form.html.twig', {form: form}) }}
    </div>
{% endblock %}