{% extends 'base.html.twig' %}
{% block title 'Changement du mot de passe' %}
{% block body %}
    <div class="container">
        <div class="col-md-4 mx-auto">
            {{ form_start(form) }}
            <div>{{ form_row(form.password) }}</div>
            <button type="submit" class="btn btn-primary">Sauvegarder</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}