{% extends 'base.html.twig' %}
{% block title 'Changement du mot de passe' %}
{% block body %}
    <div class="container mx-auto mt-4">
        <div class="col-md-6">
            {{ include('_reusable/_error_alert.html.twig') }}
        </div>
        <div class="col-md-4 mx-auto">
            {{ form_start(form) }}
            <div>{{ form_row(form.email) }}</div>
            <button class="btn btn-primary" type="submit">Envoyer</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}