{% extends 'base.html.twig' %}
{% block title 'Changement du mot de passe' %}
{% block body %}
    <div class="container mx-auto mt-4">
        {% for message in app.flashes('error-email-not-exist') %}
            <div class="alert alert-warning">
                {{ message }}
            </div>
        {% endfor %}
        <div class="col-md-4 mx-auto">
            {{ form_start(form) }}
            <div>{{ form_row(form.email) }}</div>
            <button class="btn btn-primary" type="submit">Envoyer</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}