{% extends 'base.html.twig' %}
{% block title 'Gestion des articles' %}
{% block body %}
    <div class="container">
        <h2 class="text-center">Éditer l'article</h2>
        {{  include ('pages/dashboard/blog/crud_posts/_form.html.twig', {form: form, button: 'Éditer'}) }}
    </div>
{% endblock %}