{% extends 'base.html.twig' %}
{% block title 'Accueil' %}
{% block body %}
    <div class="container ">
        {% for message in app.flashes('error-is-connected') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
        {% endfor %}
        <div class="jumbotron mt-4">
            <h1 class="display-4">Bienvenue sur le blog</h1>
            <p class="lead">Bienvenue sur le blog parlant des nouvelles technologies !</p>
            <hr class="my-4">
            <p>Inscrivez vous dès maintenant</p>
            <a class="btn btn-primary btn-lg" href="" role="button">S'inscrire</a>
        </div>
    </div>
{% endblock %}