.comment {
    position: relative;
    background-color: #f4f4f4;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .3rem;
    margin-top: 15px;
}

.comment-reply {
    margin-top: 2.5rem;
    margin-bottom: 2rem;
    margin-left: 4.5rem;
}

.comment-avatar {
    position: relative;
    top: 3px;
    left: 3px;
    width: 54px;
    height: 54px;
    border-radius: 50px;
    padding: 5px;
}

.comment-author, .comment-date, .comment-action-reply {
    position: relative;
    display: inline-block;
    top: -40px;
    left: 65px;
}

.comment-author {
    font-size: 1rem;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}

a.comment-author, a.comment-author:hover {
    color: #100020;
    text-decoration: none!important;
}

.comment-date, .comment-action-reply {
    color: #9e9e9e;
    font-size: .7rem;
}

.comment-date:before, .comment-date:after {
    content: ' - ';
}

.comment-action-reply {
    cursor: pointer;
    text-decoration: underline;
}

.comment-content {
    margin-left: 65px;
    margin-right: 25px;
    margin-top: -20px;
    padding-bottom: 5px;
}

p.comment-text {
    text-align: justify;
}