{% extends 'base.html.twig' %}
{% block title 'Créer une catégorie' %}
{% block body %}
    <div class="container">
        {{ include('admin/blog/crud_categories/_form.html.twig', {button: 'Éditer'}) }}
    </div>
{% endblock %}