{% extends 'base.html.twig' %}
{% block title 'Gestion des categories' %}
{% block body %}
    <div class="container">
        <h4 class="text-center">Gestion des categories</h4>
    </div>
{% endblock %}