{% extends 'base.html.twig' %}
{% block title 'Tablea d\'administratioin' %}
{% block body %}
    <div class="container">
        <h4 class="text-center">Gestion du site</h4>
    </div>
{% endblock %}