body {
    background-color: transparent;
}

div.pagination > nav {
    margin-left: auto!important;
    margin-right: auto!important;
}

i.fa-twitter {
    color: #00acee;
}

/* Reply Comment */
div.reply-action {
    margin-top: 25px;
}

textarea.reply-zone {
    resize: none;
}

button.reply-btn {
    margin-top: 15px;
}