<div>
    <span>Bonjour {{ user.username }}</span>
    <span>Voici le lien pour changer votre mot de passe : <a href="{{ url('change_password', {id: user.id, token: token}) }}">changer de mot de passe</a> Attention vous devez être connecté pour pouvoir effectuer le changement</span>
</div>