<div>
    <span>Bonjour {{ user.username }}</span>
    <span>Voici le lien pour changer votre mot de passe : <a href="{{ url('change_password', {token: token}) }}">changer de mot de passe</a></span>
</div>