<!--
TODO : Rendre responsive les mails
-->
<div>
    <span>Bonjour</span>
    <p>Plusieurs tentative de connexion à votre compte on échoué.
        Si vous êtes l'auteur de ces erreur, veuillez ignorer ce mail,
        dans le cas contraire, changez le mot de passe de votre compte
    </p>
</div>