<!--
Template a mettre en forme via MJML
-->
<div>
    <span>Bonjour</span><br>
    <span>Une personne viens de ce connecter à votre compte</span><br>
    <span>Voici les informations de connection :</span><br>
    <span>Adresse IP : {{ ip }}</span><br>
    <span>Locatlisation :</span><br>
    <span>Heure de connexion : {{ time | date('H:i d/m/Y')}}</span><br>
</div>