<!--
Template a mettre en forme avec MJML
-->
<div>
    <span>Bonjour {{ user }}</span><br>
    <p>Une demande de rénitialisation du mot de passe vient d'être effectué via cette email {{ email }}, si vous souhaitez changer votre mot de passe, <a href="{{ url('forgot_password_post', {token: token}) }}">cliquez ici</a>, sinon ignorez ce mail.</p>
</div>