<!--
Template a mettre en forme avec MJML
-->
<div>
    <span>Bonjour {{ user }}</span><br>
    <p>Un changement de mot de passe vient d'être effectuer sur votre compte ({{ email }}) avec succès à {{ datetime | date('H:i d/m/Y') }}.<br>
       Si vous n'êtes pas à l'origine de cette modification, contactez le support.</p>
</div>