{% extends 'base.html.twig' %}
{% block title 'Actualité techs' %}
{% block body %}
    <div class="container">
        <h2 class="text-center mt-5">Les dernier articles</h2>
        <div class="col-md-4">
            {{ include('blog/_posts.html.twig') }}
            <div class="pagination">
                {{ knp_pagination_render(posts) }}
            </div>
        </div>
        <div class="category col-md-4 float-right">
            <ul class="list-group">
                {% for category in categories %}
                <li class="list-group-item"><a href="{{ path('blog.category', {slug: category.slug}) }}" class="text-decoration-none text-info">{{ category.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}