{% extends 'base.html.twig' %}
{% block title '' %}
{% block body %}
    <div class="container">
        <h3>Category</h3>
            {{ include('blog/_posts.html.twig') }}
        <div class="pagination mt-2">
            {{ knp_pagination_render(posts) }}
        </div>
    </div>
{% endblock %}