@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

h1 {
    margin: 25px 0 25px 0;
}

h1, h4 {
    font-family: 'Roboto', sans-serif;
}

h4 {
    font-size: 1.3rem;
    opacity: 85%;
}

pre {
    border-left: 3px solid #395ad1;
    padding-left: 10px;
    background-color: #eeee;
    white-space: pre-line;
}