img.profil-banner {
    margin-top: 2rem;
}

.img-fluid {
    position: relative!important;
    height: 250px!important;
}

/* Photo de profil */
/* positioner les éléments en fonction des @media query) voir les media de bootstrap */
.profil-picture {
    position: relative!important;
    top: -75px;
    width: 132px;
    height: 132px;
}

.default-avatar .user-avatar {
    position: relative;
    border-radius: 96px;
    width: 96px;
    height: 96px;
    font-size: 48px;
    border: 4px solid #FFFFFF;
    line-height: 96px;
}

.user-avatar {
    display: inline-block;
    box-sizing: content-box;
    color: rgb(255, 255, 255);
    text-align: center;
}

.profil-username {

}

.user-activity,
.object-concerned {
    font-weight: bold;
}

/* Icone */
.heart-color {
    color: #fb0030;
}